<head>

	<!-- theme by Chicago DSA / contribute at: github.com/ChicagoDSA/haymarket -->
	
	{% if site.google_analytics %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.google_analytics }}');
		</script>
	{% endif %}
	
	<meta charset="UTF-8">

	{% include head-seo.html %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

	<!-- theme -->
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

	<!-- FontAwesome styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- preload text fonts -->
	<link rel="preload" href="{{ '/assets/fonts/ManifoldDSA/ManifoldDSA-Medium.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/ManifoldDSA/ManifoldDSA-MediumItalic.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/ManifoldDSA/ManifoldDSA-ExtraBold.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.woff' | relative_url }}" as="font" type="font/woff" crossorigin>

	<!-- Teamup calendar -->
	<script src="{{ 'assets/js/teamup.js' | relative_url }}"></script>
</head>
